<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg" %>
  </div>

  <div id="content">
    <h1>Bacon Ipsum</h1>
    <p>Bacon ipsum dolor amet brisket ham hock sausage turkey landjaeger pork loin. Andouille pastrami shoulder brisket
      sirloin capicola, picanha boudin swine t-bone. Drumstick landjaeger pig bresaola pork loin capicola filet mignon
      pancetta beef ribs corned beef. Tri-tip shoulder filet mignon leberkas ground round porchetta.

      Tongue turkey biltong, landjaeger rump shank kevin swine sirloin tail filet mignon burgdoggen pork chop ham hock.
      Doner t-bone tri-tip chicken capicola. Tri-tip doner kielbasa alcatra andouille, drumstick pork chop leberkas jowl
      turducken porchetta. Turducken boudin tongue buffalo swine rump t-bone landjaeger sirloin ball tip beef ribs ham
      strip steak meatloaf sausage. Tri-tip short loin fatback shoulder drumstick leberkas cupim tenderloin ribeye,
      chicken ball tip. Tail meatloaf chicken jowl pastrami landjaeger short ribs.

      Chicken tongue shankle ham, ribeye t-bone doner landjaeger pancetta kevin. Tri-tip pork chop beef porchetta
      pancetta tenderloin jerky flank. Rump jerky ham hock, shoulder leberkas pork loin ball tip prosciutto doner strip
      steak. Leberkas tenderloin biltong short ribs pork belly. Tongue doner capicola porchetta burgdoggen. Strip steak
      tail t-bone, burgdoggen tenderloin pork loin bresaola andouille boudin ham hock.</p>

  </div>
</div>